# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.* 
!.env.example

# Angular
AppFront/node_modules/
AppFront/dist/
AppFront/.angular/
AppFront/.cache/

# Builds / logs
dist/
build/
logs/
*.log

# Editor/OS
.vscode/
.DS_Store
