# ===== Dependencias =====
node_modules/
AppFront/node_modules/

# ===== Builds / compilados =====
dist/
AppFront/dist/
build/
AppFront/.angular/

# ===== Logs =====
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# ===== Variables de entorno / secretos =====
.env
.env.*
!.env.example

# ===== Cobertura / pruebas =====
coverage/
AppFront/coverage/

# ===== Archivos temporales =====
*.tmp
*.swp
*.swo

# ===== SO =====
.DS_Store
Thumbs.db

# ===== IDE / editor =====
.vscode/
.idea/

# ===== Si generas archivos locales de DB o dumps =====
*.bak
*.sqlite
